<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgHSuswHXo7Mfufri-7ZP0dl7rMOznNFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>530756935672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hulakKoChitthi</string>
	<key>PROJECT_ID</key>
	<string>hulak-ko-chitthi</string>
	<key>STORAGE_BUCKET</key>
	<string>hulak-ko-chitthi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530756935672:ios:2323100a1b770a7bbd800d</string>
</dict>
</plist>